.card-element {
    height: 365px;
    flex-basis: 22%;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.075), -1px 0 1px rgba(0, 0, 0, 0.075);
    background-color: white;
    transition: all .5s ease;
}
.card-element__img {
    width: inherit;
    height: 200px;
    margin-top: 0.5rem;
    background: top center no-repeat;
    background-size: contain;

    position: relative;
}
.trending .card-element__img {
    width: 265px;
}

.card-element__buybtn {
    width: 100%;
    height: 40px;

    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    display: none;

    background-color: #f4f7ffda;
    animation: fadeInUp .2s ease;
}
.card-element__buybtn { 
    color: black;
}
.card-element__detail>a {
    color: black;
}
.card-element__detail>a:hover {
    color: var(--color-focus);
}
.card-element__label {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #cabdb0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    left: 10px;

    color: white;
}
.card-element__label--top {
    background-color: #7ba8e4;
}
.card-element__label--sale {
    background-color: rgb(252, 116, 93);
}
.card-element__label--top::before {
    content: "Top";
}
.card-element__label--sale::before {
    content: "Sale";
}
.card-element:hover {
    transform: scale(103%);
    transition: transform ease 0.3s;
}
.card-element:hover .card-element__buybtn {
    display: flex;
}
.card-element__buybtn:hover {
    background-color: var(--color-focus);
}
.card-element__buybtn:hover {
    color: white;
}
.card-element__review {
    padding: 0 0 0.5rem 1rem;
    font-size: 0.8rem;
}
.review--select {
    color: rgb(223, 168, 50) !important;
}

@media (max-width: 1200px) {
    .card-element {
        flex-basis: 22%;
    }
}

@media (max-width: 992px) {
    .card-element {
        flex-basis: 30.5%;
    }
}

@media (max-width: 680px) {
    .card-element {
        flex-basis: 47%;
    }
}

@media (max-width: 576px) {
    .card-element {
        width: 100%;
    }
}
