.slider {
    width: 100%;
    height: 300px;
    background: top center no-repeat;
    background-size: cover;

    position: relative;
    transition: all 0.5s ease;
}
.slider__dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    color: white;
}
.dot--select {
    color: var(--color-focus);
}

.banner {
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
}
.banner__col1, 
.banner__col2 {
    background: center center no-repeat;
    background-size: contain;
}
.banner__col1 {
    flex-basis: 70%;
    background-image: url(../../../../public/imgs/banner/banner.png);
}
.banner__col2 {
    flex-basis: 30%;
    background-image: url(../../../../public/imgs/banner/banner4.jpg);
}

.new-arrival .cardlist {
    justify-content: center;
}

.second-background {
    background-color: #e8eefd;
    position: relative;
}
.trending {
    position: relative;
}
.trending .cardlist {
    width: 95%;
    margin: auto;
    padding: 0.5rem 0;
    flex-flow: row nowrap;
    justify-content: flex-start;
    overflow-x: auto;
}
.trending__header {
    padding: 0 1rem;
}

.trending .card-element {
    flex-basis: 270px;
}

.post .card-element {
    flex-basis: 32%;
    height: 400px;
}   

.post__header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}   
.post__header>a {
    margin-right: 20px;
}

/********************** RESPONSIVE ********************* */
@media (max-width: 1200px) {
    .new-arrival,
    .post {
        padding: 0 1rem;
    }
}
@media (max-width: 992px) {
    .slider {
        height: 200px;
        margin-bottom: 0 !important;
    }
    .slider__dots {
        left: 45%;
    }
    .post .card-element {
        flex-basis: 47%;
    }
    .trending .cardlist {
        justify-content: start;
    }
}

@media (max-width: 576px) {
    .slider {
        background-position: top center;
    }

    .trending .cardlist {
        flex-flow: row nowrap !important;
    }

    .ad-slider {
        height: 150px;
        background-size: contain;
    }
    .slider__dots {
        left: 40%;
    }
    .category-bar__element i {
        display: none;
    }
    .banner {
        display: none;
    }
    .ad-slider__dots {
        display: none;
    }
    .new-arrival {
        padding-top: 1rem !important;
    }
}