.tab {
    margin-top: 3rem !important;
    margin-bottom: 4rem !important;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    row-gap: 1rem;
}

.tab-option {
    position: relative;
}

.tab-option>div {
    display: flex;
    flex-flow: row wrap;
}

.tab-option>div>div {
    flex-basis: 15%;
    height: 3.7rem;

    opacity: 0.7;

    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-option>div>div>h5 {
    margin: 0 0.5rem;
}
.tab-option>div>div:hover {
    filter: invert(36%) sepia(23%) saturate(6851%) hue-rotate(202deg) brightness(84%) contrast(81%);
    opacity: 1 !important;
}
.select {
    filter: invert(36%) sepia(23%) saturate(6851%) hue-rotate(202deg) brightness(84%) contrast(81%);
    opacity: 1 !important;
}

.tab-line {
    margin: 0.2rem 0 0 0;
    border-radius: 1rem;
    opacity: 1;
    color: var(--color-focus);

    position: absolute;
    bottom: 0;
    left: 0;

    transition: all 0.2s ease;
}
.tab-line:not([size]) {
    width: 15%;
    height: 4px;
}

.tab-option-detail {
    height: max-content;
    overflow-y: auto;
    padding-top: 1rem;
    transition: all ease 0.5s;
}
.tab-option-detail a {
    color: white;
}