.product-form {
    display: block;
}

fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 1px;
    border-style: groove;
    border-color: rgba(0, 0, 0, 0.2);
    border-image: initial;
    border-radius: 10px;
}
legend {
    font-size: 1.1rem;
    float: none;
    width: max-content;
    text-align: center  ;
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}

.product-form__info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.product-form__info > fieldset {
    flex-basis: 48%;
}
.product-form__info button {
    background-color: var(--color-focus);
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    color: white;
}

.product-form__screen>div:nth-child(2) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.product-form__screen>div:nth-child(2)>div {
    flex-basis: 32%;
}
